.DocContainer2 {
  width: 100%;
  color: var(--txt-clr);
  padding: 4rem 0rem;
  &__title {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2rem;
    letter-spacing: 0.3px;
    color: inherit;
  }

  &__subTitle {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.5px;
    color: inherit;
  }

  &__cardContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;

    .card {
      flex: 1;
      background: rgba(29, 32, 71, 0.6);
      background: var(--featureCard-bg-clr);
      border-radius: 12px;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      &:hover {
        cursor: pointer;
        transform: scale(1.01);
      }
      &__title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 105%;
        letter-spacing: 0.5px;
        color: inherit;
        margin-top: 10px;
        min-height: 70px;
      }

      &__subTitle {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        p {
          flex: 1;
          margin: 0;
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.5rem;
          letter-spacing: 0.3px;
          color: inherit;
        }
        span {
          font-size: 2rem;
          color: inherit;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .DocContainer2 {
    &__title {
      font-size: 2rem;
    }

    &__subTitle {
      font-size: 1rem;
    }

    &__cardContainer {
      flex-direction: column;
    }
  }
}
