.DocContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10% 0;
  .listContainer {
    flex: 1;

    color: white;
    padding: 0rem 1rem;

    .title {
      font-style: normal;
      font-weight: 500;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .box {
      color: white;
      border: 1px solid white;
      border-radius: 10px;
      width: 100%;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      margin: 1.3rem 0rem;

      &:hover {
        transition-duration: 0.2s;
        transform: translateY(-2px);
      }
      .icon {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        color: white;
      }
      .link {
        width: 100%;
        font-size: 1.2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .left {
    justify-content: flex-start;
    text-align: left;
  }
  .right {
    justify-content: flex-end;
    text-align: right;
  }
  .seprator {
    width: 10px;
    height: 100%;
    min-height: 40vh;
    margin: 0 1rem;
    background: linear-gradient(116.43deg, #01f3fd -6.46%, #ff6dc1 85.93%);
  }
}

@media screen and (max-width: 700px) {
  .DocContainer2 {
    flex-direction: column;

    .listContainer {
      width: 100%;
      margin-top: 1rem;
      .title {
        font-size: 2rem;
      }
      .box {
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        width: 100%;
        padding: 10px 20px;
        display: flex;
        align-items: center;

        .icon {
          font-size: 1rem;
        }
        .link {
          width: 100%;
          font-size: 1rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .left {
      justify-content: center;
      text-align: center;
    }
    .right {
      justify-content: center;
      text-align: center;
    }
    .seprator {
      width: 100%;
      height: 10px;
      min-height: 10px;
      margin: 0px;
    }
  }
}
