@import "styles/mixins.scss";
@import "styles/mediaQuery.scss";

.StatBox {
  background: var(--bg-clr);
  border-radius: 1.25rem;
  //   border: 1px solid #4f4f4f;
  height: 8rem;
  font-family: var(--font-main);
  @include flex-setup(row, center);
  justify-content: space-evenly;
  box-shadow: 0px 7px 20px 0px rgba(99, 117, 124, 0.2);

  &__stat {
    text-align: center;
    @include flex-setup(column, flex-start);
    p {
      margin: 0;
      width: 100%;

      &:nth-of-type(2) {
        font-size: 2.5rem;
        font-family: var(--font-inter);
        font-weight: 600;
      }
    }
  }
}
