@import "styles/mixins.scss";
@import "styles/mediaQuery.scss";

.KeyFeatureCard {
  width: 100%;
  height: 100%;
  border-radius: 0.9375rem;
  font-family: var(--font-sans);
  background: var(--featureCard-bg-clr);
  color: var(--txt-clr);
  padding: 3rem 0.5rem 1rem 0.5rem;
  &__innerCard {
    background: var(--featureCard-bg-innerClr);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 2rem 1rem;
    transition: background 0.2s, color 0.2s;
    transition-timing-function: ease-in;
    p:nth-of-type(1) {
      @include text-size(1.75rem);
      font-weight: 600;
      line-height: 150%;
    }
    p:nth-of-type(2) {
      @include text-size(1rem);
      line-height: 150%;
      opacity: 0.6;
    }

    &:hover {
      background: var(--primary-clr);
      color: white;
    }
  }

  &__iconBox {
    width: 6rem;
    height: 6rem;
    // background: var(--primary-clr);
    border-radius: 100%;
    @include flex-centered;
  }
}
