@import "styles/mixins.scss";
@import "styles/mediaQuery.scss";

.KeyFeatureCard {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  font-family: inherit;
  color: var(--txt-clr);
  padding: 3rem 0.5rem 1rem 0.5rem;

  &__innerCard {
    width: 100%;
    height: 100%;
    border: 1px solid #1f1d248e;
    border-radius: inherit;
    padding: 1.5rem 1.5rem;
    @include flex-setup(column, flex-start);
    justify-content: flex-start;
    gap: 24px;
    background: var(--featureCard-bg-clr);


    p:nth-of-type(1) {
      @include text-size(20px);
      font-weight: 600;
      line-height: 110%;
      margin: 0;
    }
    p:nth-of-type(2) {
      @include text-size(1rem);
      line-height: 110%;
      font-weight: 400;
      opacity: 0.6;
      margin: 0;
    }

    // &:hover {
    //   background: var(--primary-clr);
    //   color: white;
    //   .KeyFeatureCard__iconBox {
    //     background: white;
    //   }
    // }
  }

  &__iconBox {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 100%;
    @include flex-centered;
  }
}
