@import "styles/mixins.scss";
@import "styles/mediaQuery.scss";
.FeaturedArticle {
  margin-top: 5%;
  width: 100%;
  color: var(--txt-clr);
  font-family: var(--font-main);

  .blogContainer {
    width: 100%;
    @include grid-equal(2, 1, 2rem, 2rem);
    @include screen-size(phone-only) {
      @include grid-equal(1, 1, 1rem, 1.5rem, "true");
      grid-auto-flow: dense;
    }
    padding-bottom: 5vh;

    &__contentBox {
      @include flex-setup(column, flex-start);
      gap: 2rem;
      .title {
        font-style: normal;
        font-weight: 700;
        @include text-size(3rem);
        line-height: 150%;
        letter-spacing: 0.1rem;
        margin-bottom: 12px;
        font-family: inherit;
      }
    }
    &__imageBox {
      width: 100%;
      height: 100%;
      @include screen-size(phone-only) {
        grid-row: 1;
      }
    }
  }
}
