.FeaturedArticle {
  width: 100%;
  color: white;
  font-family: var(--font-main);
  .title {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: -2px;
  }

  .blogContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    min-height: 300px;
    padding-bottom: 7%;
    border-bottom: 1px solid white;

    &__contentBox {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;

      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        line-height: 150%;
        letter-spacing: 0.1rem;
        margin-bottom: 12px;
      }
    }
    &__imageBox {
      flex: 1;
      padding: 2rem;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .FeaturedArticle {
    .title {
    }

    .blogContainer {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 0rem;
      padding-bottom: 3rem;
      &__imageBox {
        padding: 0rem;
      }
    }
  }
}
