.Header {
  width: 100%;
  display: flex;
  align-items: center;
  .infoContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    .logoContainer {
      margin-right: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.4rem;
        font-weight: 300;
        margin: 0px 10px;
        color: white;
        font-family: var(--font-title);
      }
      .imageBox {
        position: relative;
        width: 70px;
        min-height: 70px;
        height: auto;
      }
    }

    .linksContainer {
      display: flex;
      justify-content: center;
      font-weight: 300;
      p {
        a {
          font-size: 1.1rem;
        }
      }
    }
  }

  .linksContainer,
  .MobileMenu {
    p {
      a {
        font-family: var(--font-title);
        font-style: normal;
        font-weight: normal;
        font-size: calc(10px + 1vw);
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        margin: 0rem 1rem;
      }
    }
  }

  .navbarMobileMenu {
    display: none;
    position: relative;
    z-index: 2;
  }

  .MobileMenu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background-color: var(--bg-clr);
    padding: 1em;
    position: absolute;
    top: 20px;
    right: 0;
    margin-top: 1rem;
    min-width: 230px;
    border-radius: 5px;
    box-shadow: 1px 6px 11px 0px rgb(255 69 129 / 52%);
    p {
      margin: 0.5rem 0.5rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .Header {
    .navbarMobileMenu {
      display: block;
    }
    .infoContainer {
      .linksContainer {
        display: none;
      }
    }

    .navbar__link__logo p {
      font-size: 20px;
      font-family: var(--font-title);
      margin: 0px 0px;
    }
  }
}
