@import "styles/mixins.scss";
$bgclr: var(--header-bar-clr);

.Header {
  width: 100%;
  @include flex-centered;
  background: var(--clr-bg-black);
  z-index: 5;
  color: #ffffff;

  .infoContainer {
    @include flex-centered;
    justify-content: space-between;
    width: 100%;

    .logoContainer {
      margin-right: 2rem;
      @include flex-centered;

      .imageBox {
        position: relative;
        width: 150px;
        min-height: 70px;
        height: auto;
      }
    }

    .linksContainer {
      @include flex-centered;
      font-weight: 300;
      border-radius: 0.75rem;
      backdrop-filter: blur(6px);

      padding: 0rem 1.5rem;

      p {
        a {
          color: inherit;
          font-size: 1.1rem;
          transition: border-bottom 0.5s ease-in;
          padding-bottom: 0.3rem;
          border-bottom: 1px solid transparent;
          &:hover {
            border-bottom: 1.5px solid rgb(255, 255, 255);
          }
        }

        .active {
          border-bottom: 1.5px solid rgb(255, 255, 255);
        }
      }
    }

    .buttonContainer {
      @include flex-centered;
      gap: 1rem;
      span {
        @include flex-centered;
        font-size: 1.5rem;
      }
    }
  }

  .linksContainer,
  .MobileMenu {
    p {
      a {
        font-family: var(--font-main);
        font-style: normal;
        font-weight: normal;
        font-size: calc(10px + 1vw);
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        margin: 0rem 1rem;
      }
    }

    button {
      color: white;
      font-size: 1rem;
      height: fit-content;
      padding: 0.5rem;
      font-family: var(--font-main);
      margin: 0rem 1rem;

      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .navbarMobileMenu {
    display: none;
    position: relative;
    z-index: 200;
  }

  .MobileMenu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background-color: #08060b;
    padding: 1em;
    position: absolute;
    top: 20px;
    right: 0;
    margin-top: 1rem;
    min-width: 230px;
    border-radius: 5px;
    box-shadow: 1px 6px 11px 0px rgb(255 69 129 / 52%);

    p {
      margin: 0.5rem 0.5rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .Header {
    .navbarMobileMenu {
      display: block;
    }

    .infoContainer {
      .linksContainer,
      button {
        display: none;
      }
    }

    .navbar__link__logo p {
      font-size: 20px;
      font-family: var(--font-main);
      margin: 0px 0px;
    }
  }
}
