@import "styles/mixins.scss";
@import "styles/mediaQuery.scss";

.switcherWrapper {
  margin: 0rem 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
}

.subText {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  text-align: center;
}

.cardGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-top: 2rem;
  font-family: inherit;
  color: var(--txt-clr);
}

.card {
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  color: inherit;
  transition: transform 0.3s ease;
  padding: 1.5rem 2.5rem;
  @include flex-setup(column, flex-start);
  justify-content: center;
  align-items: center;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: var(--featureCard-bg-clr);

  &:hover {
    transform: translateY(-6px);
  }
}

.iconWrapper {
  background: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 86px;
    height: 86px;
  }
}

.planTitle {
  font-family: inherit;
  font-weight: 600;
  font-size: 32px;
}

.price {
  font-family: inherit;
  font-weight: 600;
  font-size: 32px;

  span {
    font-size: 0.8rem;
    font-weight: 400;
    opacity: 0.7;
  }
}

.button {
  width: 100%;
  background: var(--primary-clr);
  color: white;
  border: none;
  height: 40px;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.details {
  width: 100%;
  font-size: 0.9rem;
  text-align: left;
  margin-top: 1rem;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;

  table {
    margin-top: 1rem;
    width: 100%;
    tr {
      td {
        padding-bottom: 1rem;
      }
    }
  }

  p {
    margin: 0.3rem 0;
  }
}

.tooltipWrapper {
  position: relative;
  display: inline-block;

  svg {
    cursor: pointer;
  }

  &:hover .tooltipContent {
    opacity: 1;
    visibility: visible;
    transform: translateY(-20px);
    transform: translateX(-50%);
  }
}

.tooltipContent {
  position: absolute;
  bottom: 120%;
  left: 60%;
  transform: translateX(-50%) translateY(10px);
  background-color: #222;
  color: #fff;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}
