@import "styles/mixins.scss";

.TitleSeparator {
  color: var(--txt-clr);
  width: 100%;
  @include flex-setup(column, center);
  gap: 1rem;
  margin-top: 5%;
  text-align: center;
  p {
    @include text-size(2rem);
    font-family: inherit;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
}

@media only screen and (max-width: 900px) {
  .TitleSeparator {
    &__iconContainer {
      display: none;
    }
  }
}
