@import "styles/mixins.scss";
@import "styles/mediaQuery.scss";
.Banner {
  display: flex;
  color: var(--txt-clr);
  height: calc(100vh - 100px);
  position: relative;
  background: var(--bg-clr);
  margin-bottom: 10vh;
  z-index: 1;

  &__bgImg1 {
    position: absolute;
    top: 0%;
    left: -8%;
    z-index: 0;
    @include screen-size(phone-only) {
      top: -1%;
      left: -17%;
    }
  }
  &__bgImg2 {
    position: absolute;
    bottom: -7%;
    left: 0%;
    z-index: 0;
    @include screen-size(phone-only) {
      display: none;
    }
  }
  &__bgImg3 {
    position: absolute;
    bottom: -10%;
    right: 0%;
    z-index: 0;
    @include screen-size(phone-only) {
      bottom: -15%;
    }
  }

  &__bgImg1,
  &__bgImg2,
  &__bgImg3 {
    transition: all 0.4s ease-in-out;
    z-index: 1;
    &:hover {
      transform: scale(1.02);
    }
  }

  .infoBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    z-index: 1000;
    .title {
      width: 100%;
      font-size: calc(2.5rem + 2vw);
      text-transform: capitalize;
      font-weight: 700;
      background: linear-gradient(90deg, #295fd9 1.12%, #bd487c 102.79%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 3;
    }
    .subTitle {
      font-family: var(--font-main);
      font-style: normal;
      font-weight: 400;
      font-size: calc(0.8rem + 0.8vw);
      margin-top: 0rem;
      letter-spacing: 2px;
      line-height: 3.5rem;
      z-index: 3;
    }

    .buttonContainer{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
      z-index: 3;
    }
  }

  .statBox {
    position: absolute;
    padding: 0rem 20%;
    bottom: -4rem;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 3;
    @include screen-size(phone-only) {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .Banner {
    flex-direction: column;
    padding: 1rem 5%;

    .infoBox {
      width: 100%;
      flex: 1;
      gap: 1rem;
      padding: 1rem;
      background: transparent;

      .title {
      }
      .subTitle {
        font-size: calc(1rem + 1.1vw);
        line-height: 2.5rem;
      }
      .buttonContainer{
        flex-direction: column;
        button{
          width: 100% !important;
          margin: 5px !important;
        }
  
      }
    }

    .globeBox {
      width: 100%;
    }
  }
}
