@import "styles/mixins.scss";
@import "styles/mediaQuery.scss";
.Banner {
  display: flex;
  color: var(--txt-clr);
  height: calc(100% - 100px);
  position: relative;
  background: var(--bg-clr);

  &__bgImg1 {
    position: absolute;
    top: -5%;
    left: -5%;
    z-index: 0;
  }
  &__bgImg2 {
    position: absolute;
    bottom: -7%;
    left: 0%;
    z-index: 0;
  }
  &__bgImg3 {
    position: absolute;
    bottom: -10%;
    right: 0%;
    z-index: 0;
  }

  .infoBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    padding: 10% 7.5% 1rem 7.5%;

    text-align: center;
    .title {
      width: 100%;
      font-size: calc(2.5rem + 3vw);
      text-transform: capitalize;
      font-weight: 700;
      background: linear-gradient(90deg, #295fd9 1.12%, #bd487c 102.79%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .subTitle {
      font-family: var(--font-main);
      font-style: normal;
      font-weight: 400;
      font-size: calc(0.8rem + 0.8vw);
      margin-top: 0rem;
      letter-spacing: 2px;
      line-height: 3.5rem;
    }
    .mainBox {
      display: flex;
      flex-direction: column;
      p {
        font-size: 1.3rem;
        padding-left: 10px;
      }
      .inputContainer {
        display: flex;
        gap: 20px;
        align-items: center;
        input[type="text"] {
          background: rgba(21, 21, 29, 0.6);
          border: none;
          padding: 16px 16px 16px 15px;
          gap: 10px;
          color: white;
          height: 50px;
          flex: 1 1;
          border: 1px solid #2f2f2f;
          border-radius: 10px;
          font-size: 1rem;
        }
        button {
          color: white;
          width: 25%;
          height: 50px;
        }
      }
    }
  }

  .statBox {
    position: absolute;
    padding: 0rem 20%;
    bottom: -4rem;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 3;
    @include screen-size(phone-only) {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .Banner {
    flex-direction: column;
    padding: 1rem 5%;

    .infoBox {
      width: 100%;
      flex: 1;
      gap: 1rem;
      padding: 1rem;
      background: transparent;

      .title {
      }
      .subTitle {
        font-size: calc(1rem + 1.1vw);
        line-height: 2.5rem;
      }
    }

    .globeBox {
      width: 100%;
    }
  }
}
