.imageContainer {
  position: relative;
  span {
    position: relative !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.imageRatioContainer {
  position: relative;
  span {
  }

  .image {
    object-fit: contain !important;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
