@import "styles/mixins.scss";
@import "styles/mediaQuery.scss";

.BlogView {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 10%;
  color: var(--txt-clr);

  &__BannerImage {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-position: center;
    border-radius: 1.5rem;
  }

  &__contentContainer {
    width: 100%;

    .fontContainer {
    }

    .title {
      font-size: 3rem;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: -0.5px;
      margin-top: 3rem;
      color: inherit;
    }

    .contentBox {
      color: inherit;
      ol,
      ul,
      p {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 130%;
        color: inherit;
      }

      h3 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;
        color: inherit;
        border-bottom: 1px solid var(--txt-clr);
        padding-bottom: 2rem;
        margin-bottom: 1rem;
      }

      h4 {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        color: inherit;
      }

      pre {
        border-radius: 3px;
        text-align: left;
        padding: 1.5rem;
        background: rgb(216 216 216 / 17%);
        white-space: pre-wrap;
        word-break: break-all;
        line-height: 200%;
        code {
          text-align: left;
          font-family: monospace;
          font-size: 1rem;
          min-height: 1em;
          color: inherit;
          opacity: 0.7;
        }
      }

      img {
        display: block;
        margin: 2rem auto;
        width: 80%;
        height: auto;
        max-height: 500px;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .BlogView {
    &__BannerImage {
    }

    &__contentContainer {
      width: 100%;
      padding: 1rem 5%;
      .title {
      }
      .contentBox {
        p {
        }

        img {
          width: 100%;
        }
      }
    }
  }
}
