@import "styles/mixins.scss";
@import "styles/mediaQuery.scss";

.FeatureCardList {
  background: var(--wave-pattern);
  background-position: bottom;
  background-size: contain;
  @include flex-setup(column, flex-start);
  color: var(--txt-clr);

  &__titleContainer {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    p:nth-of-type(1) {
      text-transform: uppercase;
      @include text-size(0.85rem);
      font-weight: 700;
      letter-spacing: 0.08rem;
    }
    p:nth-of-type(2) {
      text-transform: uppercase;
      @include text-size(2.5rem);
      font-weight: 500;
      line-height: 120%;
      letter-spacing: -0.07rem;
      margin-top: 10px;
    }
  }

  &__FeatureContainer {
    @include grid-equal(4, 1, 2rem, 2rem);

    @include screen-size(tablet-landscape-up) {
      @include grid-equal(2, 1, 2rem, 2rem);
    }
    @include screen-size(phone-only) {
      @include grid-equal(1, 1, 2rem, 2rem);
    }
  }

  &__BannerContainer {
    flex: 1;
    @include flex-centered;
    width: 100%;
    margin-top: 10%;
    .Banner {
      padding: 1.5rem;
      background: linear-gradient(
        95.31deg,
        #a659ff -28.73%,
        #7178ff 23.23%,
        #2148ff 62.74%,
        #ff3517 111.77%
      );

      border-radius: 22px;
      width: 100%;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-weight: 400;
        font-size: 2rem;
        line-height: 108%;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}
