.FeatureCardList {
  background: url("/wavePattern.png");
  background-position: bottom;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__Title {
    width: 100%;
    font-size: 3rem;
    color: white;
    font-weight: 700;
    text-align: center;
  }

  &__FeatureContainer {
    display: flex;
    flex-direction: row;
    .featureBox {
      flex: 1;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      &__icon {
        width: 20%;
        height: auto;
      }

      &__title {
        font-size: 1.2rem;
        color: white;
        font-weight: 600;
      }

      &__description {
        letter-spacing: 0.02em;
        color: #958a8a;
        font-size: 1rem;
      }
    }
  }

  &__BannerContainer {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    .Banner {
      background: linear-gradient(
        95.31deg,
        #a659ff -28.73%,
        #7178ff 23.23%,
        #2148ff 62.74%,
        #ff3517 111.77%
      );
      border-radius: 22px;
      width: 100%;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-weight: 400;
        font-size: 2rem;
        line-height: 108%;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .FeatureCardList {
    &__Title {
      width: 100%;
      font-size: 2rem;
    }

    &__FeatureContainer {
      display: flex;
      flex-direction: column;
      .featureBox {
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__icon {
          width: 20%;
          height: auto;
        }

        &__title {
          font-size: 1.2rem;
        }

        &__description {
          text-align: center;
        }
      }
    }

    &__BannerContainer {
      margin-bottom: 2rem;
    }
  }
}
