.ReachUs {
  display: flex;
  flex-direction: row;
  color: white;
  margin-top: 10%;
  gap: 2rem;
  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    .top {
      .title {
        margin-bottom: 1rem;
        font-size: 3rem;
      }
    }

    .bottom {
      .email {
        font-size: 2rem;
      }
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .ReachUs {
    flex-direction: column;
    gap: 3rem;

    .infoContainer {
      .top {
        .title {
        }
      }

      .bottom {
        margin-top: 2rem;
        .email {
          font-size: 1.5rem;
        }
        margin-bottom: 1rem;
      }
    }
  }
}
