@import "styles/mixins.scss";
@import "styles/mediaQuery.scss";

.TestimonialCard {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--testimonialCard-border-clr);
  background: var(--testimonialCard-bg-clr);
  color: var(--txt-clr);
  font-family: var(--font-sans);
  padding: 2rem;
  @include flex-setup(column, flex-start);
  gap: 1rem;

  &__titleBox {
    @include flex-setup(row, flex-start);
    align-items: center;
    gap: 1rem;
    .personBox {
      @include flex-setup(column, flex-start);
      p {
        margin: 0rem;
        &:nth-of-type(1) {
          @include text-size(1.125rem);
          font-weight: 500;
        }
        &:nth-of-type(2) {
          @include text-size(0.875rem);
          font-weight: 400;
        }
      }
    }
  }
}
