.TestimonialCard {
  width: 100%;
  border-radius: 10.8px;
  background: #171717;
  min-height: 500px;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  &__testimonial {
    flex: 1;
    color: #fff;
    font-size: 1.4625rem;
    font-family: var(--font-inter);
    font-weight: 500;
    line-height: 2.025rem;
    letter-spacing: -0.03938rem;
  }

  &__userBox {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1rem;
    font-weight: 500;
    &:hover {
      img {
        cursor: pointer;
        transform: scale(1.03);
      }
    }
  }
}
