.TestimonialCard {
  width: 100%;
  color: white;
  min-height: 10vh;
  padding: 1rem;
  .container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    .titleContainer {
      display: flex;
      flex-direction: column;

      width: 100%;
      .title {
        font-size: 2rem;
        font-weight: 500;
        margin: 0rem;
      }
      .designation {
        font-weight: 500;
        letter-spacing: 0.2rem;
      }
    }

    .testimonialContent {
      font-size: 1.3rem;
      font-weight: 400;
      letter-spacing: 0.2rem;
      line-height: 2rem;
    }
  }
}
