.Testimonials {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: flex-start;
  margin-top: 10vh;
  gap: 10%;
  &__titleContainer {
    width: 25%;

    .title {
      font-weight: 700;
      font-size: 3rem;
      line-height: 120%;
      color: #ffffff;
    }

    .subTitle {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 171%;
      color: #958a8a;
    }
    .button {
      cursor: pointer;
      background: #0033ff;
      border-radius: 10px;
      padding: 1rem;
      color: white;
      border: none;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }
  }

  &__testimonialContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    .GlobeBox {
      position: absolute;
      z-index: 2;
      width: 90%;
      right: -10%;
    }
    .Box1 {
    }
    .Box2 {
      margin-left: 20%;
    }

    .Box1,
    .Box2 {
      z-index: 3;
      width: fit-content;
      display: flex;
      gap: 2rem;

      .testimonialBox {
        background: #202020;
        color: #ffffff;
        border-radius: 3px;
        width: 25vw;
        min-height: 250px;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        font-family: var(--font-main);
        &__quote {
          font-size: 1.2rem;
          line-height: 130%;
          font-weight: 500;
          margin: 0px;
          letter-spacing: 1.5px;
        }

        &__designation {
          margin: 0px;
          font-size: 0.9rem;
          font-weight: 600;
          line-height: 160%;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Testimonials {
    flex-direction: column;
    margin-top: 0rem;
    gap: 10%;
    &__titleContainer {
      width: 100%;

      .title {
        font-size: 2rem;
      }

      .subTitle {
        font-size: 1.2rem;
      }
      .button {
      }
    }

    &__testimonialContainer {
      width: 100%;
      .GlobeBox {
        display: none;
      }

      .Box1,
      .Box2 {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        margin: 0;

        .testimonialBox {
          background: #202020;
          border-radius: 3px;
          flex: 1;
          min-height: 250px;
        }
      }
    }
  }
}
