.Testimonials {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  margin: 0 0 12vh 0;
  gap: 5%;
}

@media only screen and (max-width: 900px) {
  .Testimonials {
    flex-direction: column;
    margin-top: 0rem;
    gap: 0%;
  }
}
