@import "styles/mixins.scss";
@import "styles/mediaQuery.scss";

.MostPopularBlogs {
  width: 100%;
  color: white;
  margin-bottom: 3rem;

  &__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.5px;
    margin-top: 1rem;
  }

  &__carouselContainer {
    // width: 100%;
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
    // align-items: flex-start;
    // flex-wrap: wrap;
    // gap: 2rem 1rem;
    @include grid-equal(3, 1, 2rem, 2rem);
    padding-bottom: 2rem;

    @include screen-size(desktop-small) {
      @include grid-equal(2, 1, 2rem, 2rem);
    }
    @include screen-size(phone-only) {
      @include grid-equal(1, 1, 2rem, 2rem);
    }

    .blogCard {
      width: 100%;
      height: auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .MostPopularBlogs {
    .title {
    }
  }
}
