.FeatureCompare {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: var(--font-main);
  gap: 4rem;

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 150%;
    letter-spacing: 0.2px;
  }

  &__featureContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;

    .featureCard {
      position: relative;
      min-height: 400px;
      width: 30%;
      height: auto;

      &__gradientBorder {
        position: absolute;
        top: -8px;
        left: 1%;
        width: 98%;
        height: 50px;
        background: linear-gradient(
          90deg,
          #ff8983 -8.6%,
          #841d84 47.31%,
          #0f6e68 108.14%
        );
        border-radius: 12px 12px 0px 0px;
      }

      &__mainCard {
        position: relative;
        top: 0;
        left: 0;
        padding: 1.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        background: linear-gradient(
          163.05deg,
          rgba(0, 0, 0, 0.5) 0.83%,
          rgba(48, 48, 48, 0.5) 100.6%
        );
        backdrop-filter: blur(437.148px);
        border-radius: 12px;

        .iconContainer {
          width: 120px;
          height: 120px;
          background: var(--gradient);
          border-radius: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .title {
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 40px;
          letter-spacing: 0.2px;
          color: #ffffff;
          text-align: left;
          font-family: inherit;
          min-height: 50px;
        }

        .subTitle {
          font-weight: 500;
          font-size: 1.2rem;
          line-height: 40px;
          letter-spacing: 0.2px;
          color: rgba(206, 208, 208, 1);
          text-align: left;
          font-family: inherit;
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .FeatureCompare {
    gap: 2rem;

    &__title {
      font-size: 2rem;
    }

    &__featureContainer {
      .featureCard {
        width: 100%;

        gap: 1rem;

        .imgBox {
        }

        .title {
        }
      }
    }
  }
}
