.FeatureCompare {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: var(--font-main);
  gap: 4rem;

  &__title {
    font-size: 3rem;
    letter-spacing: 0.06em;
    margin-bottom: 0rem;
    font-weight: 600;
  }
  &__featureContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
    .featureCard {
      background: #1e0f2c;
      border-radius: 10px;
      padding: 1.5rem;
      width: 30%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      .imgBox {
        width: 40%;
        height: auto;
      }
      .title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 40px;
        letter-spacing: 0.2px;
        color: #ffffff;
        text-align: center;
        font-family: inherit;
      }
    }
  }
  &__clientBox {
    width: 100%;
    padding: 5% 15%;
    background: #1e0f2c;
    border-radius: 10px;
    min-height: 200px;
    margin-bottom: 40vh;

    .logoBox {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
      .logo {
        width: max(20%, 200px);
        height: auto;
      }
    }

    .ButtonBox {
      width: 100%;
      text-align: center;
      margin-top: 3rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .FeatureCompare {
    gap: 2rem;

    &__title {
      font-size: 2rem;
    }
    &__featureContainer {
      .featureCard {
        width: 100%;

        gap: 1rem;
        .imgBox {
        }
        .title {
        }
      }
    }
    &__clientBox {
      padding: 10% 15%;
      background: #1e0f2c;

      .logoBox {
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 3.5rem;
        .logo {
          width: 200px;
          height: auto;
        }
      }

      .ButtonBox {
        width: 100%;
        text-align: center;
        margin-top: 3rem;
      }
    }
  }
}
