.DocContainer {
  color: var(--txt-clr);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 0rem;

  &__titleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex: 1;
    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 5rem;
    }

    .subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }

  &__imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    flex: 1;
  }
}

@media screen and (max-width: 700px) {
  .DocContainer {
    flex-direction: column;

    &__titleBox {
      width: 100%;
      .title {
        font-size: 2.5rem;
      }

      .subtitle {
        font-size: 1.2rem;
        line-height: 150%;
      }
    }

    &__imageBox {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;
      flex: 1;
    }
  }
}
