.LighthouseSuitContainer {
  margin: 0 auto;
  padding: 4rem 0rem;
  font-family: var(--font-sans);

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
    gap: 2rem;

    .headerLeft {
      flex: 1;
      .title {
        color: #A286F8;
        font-size: 1.2rem;
        margin: 0rem;
      }

      .subtitle {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 1rem 0rem;
        color: var(--txt-clr);
      }

      .description {
        margin-bottom: 1rem;
        font-weight: 400;
        color: #A3AAB8;
      }

      .learnMore {
        background-color: var(--primary-clr);
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--primary-clr);
        }
      }
    }

    .headerRight {
      flex: 1;
      display: flex;
      flex-direction: column;
      img{
        filter: drop-shadow(5px 5px 5px #222)
      }
    }
  }

  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .featureCard {
      background: var(--featureCard-bg-clr);
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      color: var(--txt-clr);


      .featureTitle {
        font-weight: 600;
        margin: 0rem;
        font-size: 1.1rem;
      }

      .featureDescription {
        font-weight: 400;
        color: #A3AAB8;
        font-size: 0.9rem;
      }
    }
  }

  @media (max-width: 768px) {
    .header {
      flex-direction: column !important;
      margin-bottom: 3rem;


      .headerLeft,
      .headerRight {
        padding-right: 0;
        margin-bottom: 1rem;
        text-align: center !important;
      }
    }

    .features {
      grid-template-columns: 1fr;
    }
  }
}
