.sectionContainer {
  width: -webkit-fill-available;
  min-height: 100vh;
  display: flex;
  position: relative;
  overflow-y: visible;
  z-index: 0;
  background: var(--clr-bg-black);

  .contentContainer {
    width: 100%;
    z-index: 2;
    background: var(--clr-bg-black);
  }
}
