@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./bg.scss";

:root {
  --font-main: "Helvetica";
  --font-inter: "Inter";
  --font-sans: "Open Sans";
  --clr-blue: #2563eb;
  --clr-bg-black: #08060b;
  --gradient: linear-gradient(90.23deg, #6079b8 1.12%, #c54477 102.79%);
  --clr-text-grey: rgba(116, 109, 109, 1);
  //--------------------

  --bg-clr: #08060b;
  --txt-clr: #ffffff;
  --primary-clr: #6c41f4;

  --header-bar-clr: rgba(255, 255, 255, 0.05);
  --featureCard-bg-clr: #1f1d23;
  --featureCard-bg-innerClr: #fff;
  --testimonialCard-bg-clr: linear-gradient(
    125deg,
    #000 -1.58%,
    rgba(77, 77, 77, 0) 123.59%
  );
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, "Helvetica", "Encode Sans", Droid Sans,
    Helvetica Neue, sans-serif;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  color: var(--txt-clr);
  background: var(--bg-clr) !important;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 1rem 10%;
}

.sectionTitle {
  font-weight: 500;
  font-size: 3rem;
  font-family: var(--font-main);
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.border_btn {
  cursor: pointer;
  width: fit-content;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
  border-radius: 10px;
  height: fit-content;
  align-items: center;
  padding: 10px 30px;
  background: none;
  color: white;
  font-size: 1.2rem;
  &:hover {
    font-weight: 600;
    transform: scale(1.02);
  }
}

.fillBtn__purple {
  background: var(--primary-clr);
  border: 1px solid var(--primary-clr);
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),
    0px 8px 15px -3px rgba(0, 112, 243, 0.4);
  border-radius: 0.75rem;
  font-family: var(--font-inter);
  font-weight: 500;
  color: white;
  font-size: 1.2rem;
  width: fit-content;
  height: fit-content;
  padding: 10px 30px;
}

.fillBtn__blue {
  cursor: pointer;
  width: fit-content;
  background: var(--primary-clr);
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: fit-content;
  align-items: center;
  padding: 10px 30px;
  color: white;
  font-size: 1.2rem;
  border: none;
  font-weight: 400;

  &:hover {
    font-weight: 600;
    transform: scale(1.02);
  }
}

.ptr {
  cursor: pointer;
}

.gradient__Text {
  background: linear-gradient(116.43deg, #01f3fd -6.46%, #ff6dc1 85.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient__Border {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(116.43deg, #01f3fd -6.46%, #ff6dc1 85.93%) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
}

.gradient__Button {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(116.43deg, #01f3fd -6.46%, #ff6dc1 85.93%) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;

  &:hover {
    background: linear-gradient(116.43deg, #01f3fd -6.46%, #ff6dc1 85.93%);
    font-size: 1rem;
    font-weight: 500;
    color: black !important;
    border: 2px solid black;
  }
}

.testimonialSwipper {
  width: 100% !important;
  padding-top: 50px;
  padding-bottom: 50px;

  .swiper-wrapper {
    .swiper-slide {
      opacity: 0.6;
    }

    .swiper-slide-active {
      opacity: 1;
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;

    background: var(--clr-bg-black);
  }
}

@media screen and (max-width: 2560px) {
  .container {
    padding: 1rem 15%;
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding: 1rem 1rem;
  }
}
