@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./bg.scss";

:root {
  --font-main: "Helvetica";
  --clr-blue: #2563eb;
  --clr-bg-black: #000000;
  --gradient: linear-gradient(90.23deg, #6079b8 1.12%, #c54477 102.79%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, "Helvetica", "Encode Sans", Droid Sans,
    Helvetica Neue, sans-serif;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 1rem 6rem;
}

.sectionTitle {
  font-weight: 500;
  font-size: 3rem;
  font-family: var(--font-main);
  color: white;
}

.border_btn {
  cursor: pointer;
  width: fit-content;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
  border-radius: 10px;
  height: fit-content;
  align-items: center;
  padding: 10px 30px;
  background: none;
  color: white;
  font-size: 1.2rem;
}

.fillBtn__purple {
  background: #7f56d9;
  border: 1px solid #7f56d9;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: white;
  font-size: 1.2rem;
  width: fit-content;
  height: fit-content;
  padding: 10px 30px;
}

.fillBtn__blue {
  cursor: pointer;
  width: fit-content;
  background: var(--clr-blue);
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: fit-content;
  align-items: center;
  padding: 10px 30px;
  color: white;
  font-size: 1.2rem;
  border: none;
  font-weight: 400;

  &:hover {
    font-weight: 500;
  }
}

.ptr {
  cursor: pointer;
}

.gradient__Text {
  background: linear-gradient(116.43deg, #01f3fd -6.46%, #ff6dc1 85.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient__Border {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(116.43deg, #01f3fd -6.46%, #ff6dc1 85.93%) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
}

.gradient__Button {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(116.43deg, #01f3fd -6.46%, #ff6dc1 85.93%) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;

  &:hover {
    background: linear-gradient(116.43deg, #01f3fd -6.46%, #ff6dc1 85.93%);
    font-size: 1rem;
    font-weight: 500;
    color: black !important;
    border: 2px solid black;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: var(--clr-bg-black);
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding: 1rem 1rem;
  }
}
