@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "./bg.scss";
@import "./mixins.scss";
@import "styles/mediaQuery.scss";

:root {
  --font-sans: "Open Sans";
  --clr-blue: #2563eb;
  --clr-bg-black: #000000;
  --gradient: linear-gradient(90.23deg, #6079b8 1.12%, #c54477 102.79%);
  --clr-text-grey: rgba(116, 109, 109, 1);
  //--------------------

  --bg-clr: #000000;
  --txt-clr: #ffffff;
  --primary-clr: #643fbb;
  --pink-clr: #a94c89;

  --header-bar-clr: rgba(255, 255, 255, 0.05);
  --featureCard-bg-clr: linear-gradient(160.33deg, #010101 0%, #19171c 100%);
  --featureCard-bg-innerClr: linear-gradient(
    160.33deg,
    #010101 0%,
    #19171c 100%
  );
  --testimonialCard-border-clr: #4f4f4f;

  --testimonialCard-bg-clr: linear-gradient(
    125deg,
    #000 -1.58%,
    rgba(77, 77, 77, 0) 123.59%
  );

  --box-shadow: 3px 3px 50px 0px rgba(0, 0, 0, 0.1);

  --wave-pattern: url("/wavePattern_dark.svg");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  color: var(--txt-clr);
  background: var(--bg-clr) !important;
}

h1 {
  margin: 0;
  padding: 0;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.styleContainer {
  padding: 1rem 10%;
  @include screen-size(phone-only) {
    padding: 1rem 1rem;
  }
  @include screen-size(desktop-big) {
    padding: 1rem 20%;
  }
}

.sectionTitle {
  font-weight: 500;
  font-size: 3rem;
  font-family: var(--font-sans);
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.border_btn {
  cursor: pointer;
  width: fit-content;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
  border-radius: 10px;
  height: fit-content;
  align-items: center;
  padding: 10px 30px;
  background: none;
  color: white;
  font-size: 1.2rem;
  &:hover {
    font-weight: 600;
    transform: scale(1.02);
  }
}

.fillBtn__purple {
  background: var(--primary-clr);
  color: white;
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 0.5rem;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  gap: 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.fillBtn__grey {
  width: fit-content;
  height: 50px;
  border-radius: 0.5rem;
  border: none;
  padding: 8px 12px;
  gap: 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.fillBtn__blue {
  cursor: pointer;
  width: fit-content;
  background: var(--primary-clr);
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: fit-content;
  align-items: center;
  padding: 10px 30px;
  color: white;
  font-size: 1.2rem;
  border: none;
  font-weight: 400;
  overflow: hidden;
  position: relative;

  &:hover {
    font-weight: 600;
    transform: scale(1.02);
  }
}

.ptr {
  cursor: pointer;
}

.gradient__Text {
  background: linear-gradient(116.43deg, #01f3fd -6.46%, #ff6dc1 85.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient__Border {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(116.43deg, #01f3fd -6.46%, #ff6dc1 85.93%) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
}

.gradient__Button {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(116.43deg, #01f3fd -6.46%, #ff6dc1 85.93%) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;

  &:hover {
    background: linear-gradient(116.43deg, #01f3fd -6.46%, #ff6dc1 85.93%);
    font-size: 1rem;
    font-weight: 500;
    color: black !important;
    border: 2px solid black;
  }
}

.testimonialSwipper {
  width: 100% !important;
  padding-top: 50px;
  padding-bottom: 50px;

  .swiper-wrapper {
    .swiper-slide {
      opacity: 0.6;
    }

    .swiper-slide-active {
      opacity: 1;
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;

    background: var(--clr-bg-black);
  }
}

.tooltipWrapper {
  position: relative;
  display: inline-block;

  svg {
    cursor: pointer;
  }

  &:hover .tooltipContent {
    opacity: 1;
    visibility: visible;
    transform: translateY(-20px);
    transform: translateX(-50%);
  }
}

.tooltipContent {
  position: absolute;
  bottom: 120%;
  left: 60%;
  transform: translateX(-50%) translateY(10px);
  background-color: #222;
  color: #fff;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  z-index: 10000;
}
